{% extends 'base.html' %}
{% block content %}

<script src="/static/scripts/calendar.js" defer></script>
<div class="wrapper">
    <header>
        <p class="current-date"></p>
        <div class="icon">
            <span id="prev">⬅️</span>
            <span id="next">➡️</span>
        </div>
    </header>
    <div class="calendar">
        <ul class="weeks">
            <li>Dom</li>
            <li>Seg</li>
            <li>Ter</li>
            <li>Qua</li>
            <li>Qui</li>
            <li>Sex</li>
            <li>Sab</li>

        </ul>
        <ul class="days">
            <li></li>
        </ul>
    </div>
</div>


{% endblock %}