<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/add_event.css">
    <script src="/static/scripts/addEvent.js" defer></script>
    <title>Agenda</title>
</head>
<body>
    <div class="form_add_event">
        <h1>Editar Evento</h1>
        <hr>
        <br>
        <form action="/edit_event/{{event['id']}}" method="post">
            <input name="title" type="text" placeholder="Titulo" value="{{event['title']}}">
            <br>
            <input placeholder="Data" name="date" type="date" id="date" required value="{{event['date']}}">
            <input value="" type="time" id="time" name="hour" required
            value="{{event['date']}}">
            <br>
            <textarea placeholder="Descrição" name="description" id="description" cols="30" rows="10">{{event['description']}}</textarea>
            <br>     
            <input type="submit">
        </form>

    </div>
</body>
</html>