<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/cadaster.css">
    <title>Agenda</title>
</head>
<body>
    <div id="register">
        <h1>EDITAR</h1>
        {% if error %}
        {{error}}
        {% endif %}
        <form action="/edit_user" method="POST">
            <input name="name" type="text" placeholder="Name">
            <br>
            <input name="email" type="text" placeholder="Email">
            <br>
            <input name="password" type="text" placeholder="Senha">
            <br>
            <input name="actual_password" type="text" placeholder="Senha Atual">
            <br>
            <input class="button_enviar" type="submit"> 
        </form>
    </div>
</body>
</html>