<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/event.css">
    <title>Document</title>
</head>
<body>
    <div  class="event">   
        <a>
            <h2 class="title">Titulo - {{event["title"]}}</h2>
            <br>
            <p class="date">Data: {{event["date"]}}</p>
            <p class="description">Descrição: {{event["description"]}}</p>
        </a>
    </div>
</body>
</html>