.event{
    display: flex;
    background-color: rgb(253, 253, 253);
    height: 60px;
    width: 250px;

}

.event a{
    padding: 1px;
    border: .01rem solid black;
}


.event a:hover{
    background-color: rgba(97, 90, 90, 0.253);
}


.a_event{
    text-decoration: none;
    text-align: center;
    width: 60%;
    color: black;
}

.icon_del{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.icon_del img{
    height: 50%;
}

.icon_edit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.icon_edit img{
    height: 50%;
}


