body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(142, 126, 197);
}

.event{
    text-align: center;
    background: white;
    width: 400px;
    height:  400px;


    
}